# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiodns=3.2.0=pypi_0
aiohttp=3.9.5=pypi_0
aiosignal=1.3.1=pypi_0
alpaca-py=0.21.0=pypi_0
alpaca-trade-api=3.2.0=pypi_0
alpha-vantage=2.3.1=pypi_0
annotated-types=0.6.0=pypi_0
appdirs=1.4.4=pypi_0
apscheduler=3.10.4=pypi_0
asttokens=2.4.1=pypi_0
attrs=23.2.0=pypi_0
babel=2.15.0=pypi_0
bcrypt=4.1.3=pypi_0
beautifulsoup4=4.12.3=pypi_0
bidict=0.23.1=pypi_0
blinker=1.8.2=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2024.3.11=haa95532_0
ccxt=4.2.85=pypi_0
certifi=2024.2.2=pypi_0
cffi=1.16.0=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pypi_0
contourpy=1.2.1=pypi_0
cryptography=42.0.7=pypi_0
cycler=0.12.1=pypi_0
decorator=5.1.1=pypi_0
deprecation=2.1.0=pypi_0
dnspython=2.6.1=pypi_0
duckdb=0.10.2=pypi_0
email-validator=2.1.1=pypi_0
exchange-calendars=4.5.3=pypi_0
executing=2.0.1=pypi_0
expat=2.6.2=hd77b12b_0
filelock=3.15.4=pypi_0
flask=3.0.3=pypi_0
flask-babelex=0.9.4=pypi_0
flask-login=0.6.3=pypi_0
flask-mail=0.9.1=pypi_0
flask-marshmallow=1.2.1=pypi_0
flask-principal=0.4.0=pypi_0
flask-security=3.0.0=pypi_0
flask-socketio=5.3.6=pypi_0
flask-sqlalchemy=3.1.1=pypi_0
flask-wtf=1.2.1=pypi_0
fonttools=4.51.0=pypi_0
frozendict=2.4.4=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.6.1=pypi_0
greenlet=3.0.3=pypi_0
h11=0.14.0=pypi_0
html5lib=1.1=pypi_0
huggingface-hub=0.23.5=pypi_0
ibapi=9.81.1.post1=pypi_0
idna=3.7=pypi_0
inflection=0.5.1=pypi_0
iniconfig=2.0.0=pypi_0
intel-openmp=2021.4.0=pypi_0
ipython=8.24.0=pypi_0
itsdangerous=2.2.0=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.4=pypi_0
jsonpickle=3.0.4=pypi_0
kiwisolver=1.4.5=pypi_0
korean-lunar-calendar=0.3.1=pypi_0
libffi=3.4.4=hd77b12b_1
lumibot=3.3.7=pypi_0
lumiwealth-tradier=0.1.7=pypi_0
lxml=5.2.1=pypi_0
markupsafe=2.1.5=pypi_0
marshmallow=3.21.2=pypi_0
marshmallow-sqlalchemy=1.0.0=pypi_0
matplotlib=3.8.4=pypi_0
matplotlib-inline=0.1.7=pypi_0
mkl=2021.4.0=pypi_0
more-itertools=10.2.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.3=pypi_0
multidict=6.0.5=pypi_0
multitasking=0.0.11=pypi_0
networkx=3.3=pypi_0
numpy=1.26.4=pypi_0
openssl=3.0.13=h2bbff1b_1
packaging=24.0=pypi_0
pandas=2.2.2=pypi_0
pandas-datareader=0.10.0=pypi_0
pandas-market-calendars=4.4.0=pypi_0
parso=0.8.4=pypi_0
passlib=1.7.4=pypi_0
peewee=3.17.3=pypi_0
pillow=10.3.0=pypi_0
pip=23.3.1=py312haa95532_0
plotly=5.22.0=pypi_0
pluggy=1.5.0=pypi_0
polygon-api-client=1.13.7=pypi_0
prompt-toolkit=3.0.43=pypi_0
psycopg2-binary=2.9.9=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=16.0.0=pypi_0
pycares=4.4.0=pypi_0
pycparser=2.22=pypi_0
pydantic=2.7.1=pypi_0
pydantic-core=2.18.2=pypi_0
pygments=2.18.0=pypi_0
pyluach=2.2.0=pypi_0
pyparsing=3.1.2=pypi_0
pytest=8.2.0=pypi_0
python=3.12.3=h1d929f7_1
python-dateutil=2.9.0.post0=pypi_0
python-dotenv=1.0.1=pypi_0
python-engineio=4.9.0=pypi_0
python-socketio=5.11.2=pypi_0
pytz=2024.1=pypi_0
pyyaml=6.0.1=pypi_0
quandl=3.7.0=pypi_0
quantstats-lumi=0.2.0=pypi_0
regex=2024.5.15=pypi_0
requests=2.31.0=pypi_0
safetensors=0.4.3=pypi_0
scipy=1.13.0=pypi_0
seaborn=0.13.2=pypi_0
setuptools=69.5.1=py312haa95532_0
simple-websocket=1.0.0=pypi_0
six=1.16.0=pypi_0
soupsieve=2.5=pypi_0
speaklater=1.3=pypi_0
sqlalchemy=2.0.30=pypi_0
sqlite=3.45.3=h2bbff1b_0
sseclient-py=1.8.0=pypi_0
stack-data=0.6.3=pypi_0
sympy=1.13.0=pypi_0
tabulate=0.9.0=pypi_0
tbb=2021.13.0=pypi_0
tenacity=8.2.3=pypi_0
termcolor=2.4.0=pypi_0
tk=8.6.14=h0416ee5_0
tokenizers=0.19.1=pypi_0
toolz=0.12.1=pypi_0
torch=2.3.1=pypi_0
tqdm=4.66.4=pypi_0
traitlets=5.14.3=pypi_0
transformers=4.42.4=pypi_0
typing-extensions=4.11.0=pypi_0
tzdata=2024.1=pypi_0
tzlocal=5.2=pypi_0
urllib3=1.26.18=pypi_0
uuid=1.30=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
wcwidth=0.2.13=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.8.0=pypi_0
websockets=10.4=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.43.0=py312haa95532_0
wsproto=1.2.0=pypi_0
wtforms=3.1.2=pypi_0
xz=5.4.6=h8cc25b3_1
yarl=1.9.4=pypi_0
yfinance=0.2.38=pypi_0
zlib=1.2.13=h8cc25b3_1
